@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #fffbe0;
    --cor-secundaria: #b3799c;
    --cor-terciaria: #22D4FD;
    --cor-hover: grey;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --font-size: 16px;
}

/* reset do css */
*{ 
    margin: 0;
    padding: 0;
}

/* configuração inicial do corpo da pagina */
body { 
    /* height: modelo de visualização baseada na view da pagina 100vh; use o teclado ctrl+k+c */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

img {
    width: 160px;
    height: 160px;
}        

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

#span{
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria);
    padding: 10px;
}

.apresentacao {
    padding: 5% 15%; /*modelo da distancia entre o elemento e as bordas */
    display: flex; /*modelo de ajuste para a disposição dos elementos na tela*/
    align-items: center; /*alinhando os elementos de maneira centralizada*/
    justify-content: space-between; /*ajustando os elementos de maneira a ter espaço entre eles*/
    gap: 82px;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

/* cor do destaque do titulo */
.titulo-destaque{
    color: var(--cor-terciaria);
}

h1 {
    font-weight: bold;
}

.apresentacao_conteudo_texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentação_link_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_links_navegacao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none; /*retira o underline do hyperlink*/
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao_links_link:hover{
    background-color: var(--cor-hover);
    padding: 3%;
}

.apresentacao_imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    padding: 24px;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

@media (max-width: 1080px) {
    
    :root {
        font-size: 14px;
    }
    .cabecalho {
        padding: 10%;   
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo {
        width: auto;
    }

}


